*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#test{
    overflow: hidden;
}
#test ul{
    position: relative;
    display: block;
    /* max-width: 100%; */
    list-style: none;
    padding-inline-start: 0
}
ul > li{
    display: inline-block;
    /* text-align: center; */
}