@import './fontawesome/fontawesome.scss';
.slider-container {
    overflow: hidden;
    position: relative;
    padding: 0 30px;
    .slider-track {
        position: relative;
        display: block;
        list-style: none;
        padding-inline-start: 0;
        margin: 0;
        & > li {
            display: inline-block;
            /* text-align: center; */
        }
    }
    .slides-buttons {
        background: transparent;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #000;
        &.slider-button-prev {
            left: 0;
        }
        &.slider-button-next{
            right: 0;
        }

    }
}
